{% trans_default_domain 'LoevgaardDandomainAltapayBundle' %}

<div class="order-id">{{ 'callback.form.order_id'|trans }}: {{ payment.orderId }}</div>
<div class="amount">{{ 'callback.form.total'|trans }}: {{ payment.currencySymbol }} {{ payment.totalAmount }}</div>
<form id="PensioPaymentForm"></form>